# PostgreSQL / PostGIS
POSTGRES_USER=atmo
POSTGRES_PASSWORD=change_me
POSTGRES_DB=atmofrance
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MongoDB
MONGO_USER=atmo
MONGO_PASSWORD=change_me
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=atmofrance_raw

# MinIO (datalake S3-compatible)
MINIO_ROOT_USER=atmo
MINIO_ROOT_PASSWORD=change_me_minio
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver
MINIO_BUCKET_GOLD=gold

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_AIR=air-raw
KAFKA_TOPIC_METEO=meteo-raw

# API
API_HOST=0.0.0.0
API_PORT=8000

# Dashboard
DASHBOARD_PORT=8501

# Sources externes
GEODAIR_BASE_URL=https://files.data.gouv.fr/lcsqa/concentrations-de-polluants-atmospheriques-reglementes/temps-reel
OPEN_METEO_URL=https://air-quality-api.open-meteo.com/v1/air-quality

# Acces depuis l'hote (code Python execute hors conteneur)
KAFKA_BOOTSTRAP_SERVERS_HOST=localhost:29092
MINIO_ENDPOINT_HOST=localhost:9000
GEODAIR_FILES_BASE=https://files.data.gouv.fr/ineris/lcsqa/concentrations-de-polluants-atmospheriques-reglementes/temps-reel
